# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Static collected files
staticfiles/

# Media
media/

# Logs
*.log