<!-- 

{% extends "core/base.html" %}

{% block title %}
    Teacher Form

{% endblock %}


{% block content %}
<form method="POST">
    {% csrf_token %}

    <p>
        <label>Name</label>
        <input type="text" name="name">
    </p>

    <p>
        <label>Subject</label>
        <input type="text" name="subject">
    </p>

    <p>
        <label>Salary</label>
        <input type="number" name="salary">
    </p>

    <p>
        <label>Email</label>
        <input type="email" name="email">
    </p>

    <button type="submit">Save Teacher</button>

</form>

{% endblock %} -->




<form method="POST">
    {% csrf_token %}

    <p>
        {{ form.name.label_tag }}
        {{ form.name }}
    </p>

    <p>
        {{ form.subject.label_tag }}
        {{ form.subject }}
    </p>

    <p>
        {{ form.salary.label_tag }}
        {{ form.salary }}
    </p>

    <p>
        {{ form.email.label_tag }}
        {{ form.email }}
    </p>

    <button type="submit">Save Teacher</button>
</form>